# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# pytest
.pytest_cache

# Virtual environments
.env
.venv/
venv/
ENV/

# Git
.git/
.gitignore

# GitHub Actions
.github/

# VS Code
.vscode/

# Other files that are not important and are only for debugging/personal use
documents