@tailwind utilities;

html {
  scrollbar-gutter: stable;
}
body {
  font-family: "Courier New", monospace;
  background-color: #2b2b2b;
  color: rgb(255, 255, 255);
  padding: 1em;
}
button {
  font-family: "Courier New", monospace;
}
.below-all-cards {
  border-top: 2px solid #333;
}
.card {
  border-top: 2px solid #333;
  margin-top: 0.5em;
  color: rgb(255, 255, 255);
  padding-top: 0.3em;
  font-size: 1.2em;
}
.table-label:hover {
  background-color:hsl(0, 0%, 83%, 0.05);
}
.table-label.shop {
  color: rgb(242, 242, 169)
}
.table-label.wip_dino {
  color: rgb(157, 157, 201)
}
.table-label.dino {
  color: rgb(159, 212, 230)
}
.table-label.enemy {
  color: rgb(190, 81, 81)
}
.table-label.none {
  color: white
}
.card-names-line {
  display: flex;
  align-items: center;
  color: rgb(196, 196, 196);
  font-size: 1.2em;
  white-space: pre-wrap;
  gap: 8px;
}
.card-name-text {
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.card-table-text {
  font-size: 0.5em;
  font-style: italic;
}
.card-body-text {
  white-space: pre-wrap;
  font-weight: 100;
}
pre {
  white-space: pre-wrap;
}
.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin-bottom: 10px;
  font-size: 1.4em;
}
.select-all-buttons {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10px;
}
#fraction-of-responses-container {
  margin-bottom: 10px;
}